@import 'tailwindcss';

@import './components/alert/index.css';
@import './components/button/index.css';
@import './components/collapse/index.css';
@import './components/common/index.css';
@import './components/container/index.css';
@import './components/date-picker/index.css';
@import './components/dialog/index.css';
@import './components/dropdown/index.css';
@import './components/form/index.css';
@import './components/icon/index.css';
@import './components/input/index.css';
@import './components/link/index.css';
@import './components/message/index.css';
@import './components/message-box/index.css';
@import './components/rate/index.css';
@import './components/select/index.css';
@import './components/switch/index.css';
@import './components/tooltip/index.css';

:root {
  --lark-color-white: #ffffff;
  --lark-color-black: #000000;
  --lark-color-primary-rgb: 64, 158, 255;
  --lark-color-success-rgb: 103, 194, 58;
  --lark-color-warning-rgb: 230, 162, 60;
  --lark-color-danger-rgb: 245, 108, 108;
  --lark-color-error-rgb: 245, 108, 108;
  --lark-color-info-rgb: 144, 147, 153;
  --lark-font-size-extra-large: 1.25rem; /* 20px */
  --lark-font-size-large: 1.125rem; /* 18px */
  --lark-font-size-medium: 1rem; /* 16px */
  --lark-font-size-base: 0.875rem; /* 14px */
  --lark-font-size-small: 0.8125rem; /* 13px */
  --lark-font-size-extra-small: 0.75rem; /* 12px */
  --lark-font-family:
    'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial,
    sans-serif;
  --lark-font-weight-primary: 500;
  --lark-font-line-height-primary: 1.5rem; /* 24px */
  --lark-index-normal: 1;
  --lark-index-top: 1000;
  --lark-index-popper: 2000;
  --lark-border-radius-base: 0.25rem; /* 4px */
  --lark-border-radius-small: 0.125rem; /* 2px */
  --lark-border-radius-round: 1.25rem; /* 20px */
  --lark-border-radius-circle: 100%;
  --lark-transition-duration: 0.3s;
  --lark-transition-duration-fast: 0.2s;
  --lark-transition-function-ease-in-out-bezier: cubic-bezier(0.645, 0.045, 0.355, 1);
  --lark-transition-function-fast-bezier: cubic-bezier(0.23, 1, 0.32, 1);
  --lark-transition-all: all var(--lark-transition-duration)
    var(--lark-transition-function-ease-in-out-bezier);
  --lark-transition-fade: opacity var(--lark-transition-duration)
    var(--lark-transition-function-fast-bezier);
  --lark-transition-md-fade:
    transform var(--lark-transition-duration) var(--lark-transition-function-fast-bezier),
    opacity var(--lark-transition-duration) var(--lark-transition-function-fast-bezier);
  --lark-transition-fade-linear: opacity var(--lark-transition-duration-fast) linear;
  --lark-transition-border: border-color var(--lark-transition-duration-fast)
    var(--lark-transition-function-ease-in-out-bezier);
  --lark-transition-box-shadow: box-shadow var(--lark-transition-duration-fast)
    var(--lark-transition-function-ease-in-out-bezier);
  --lark-transition-color: color var(--lark-transition-duration-fast)
    var(--lark-transition-function-ease-in-out-bezier);
  --lark-component-size-large: 2.5rem; /* 40px */
  --lark-component-size: 2rem; /* 32px */
  --lark-component-size-small: 1.5rem; /* 24px */
  color-scheme: light;
  --lark-color-primary: #409eff;
  --lark-color-primary-light-3: rgb(121, 187, 255);
  --lark-color-primary-light-5: rgb(160, 207, 255);
  --lark-color-primary-light-7: rgb(198, 226, 255);
  --lark-color-primary-light-8: rgb(217, 236, 255);
  --lark-color-primary-light-9: rgb(236, 245, 255);
  --lark-color-primary-dark-2: rgb(51, 126, 204);
  --lark-color-success: #67c23a;
  --lark-color-success-light-3: rgb(149, 212, 117);
  --lark-color-success-light-5: rgb(179, 225, 157);
  --lark-color-success-light-7: rgb(209, 237, 196);
  --lark-color-success-light-8: rgb(225, 243, 216);
  --lark-color-success-light-9: rgb(240, 249, 235);
  --lark-color-success-dark-2: rgb(82, 155, 46);
  --lark-color-warning: #e6a23c;
  --lark-color-warning-light-3: rgb(238, 190, 119);
  --lark-color-warning-light-5: rgb(243, 209, 158);
  --lark-color-warning-light-7: rgb(248, 227, 197);
  --lark-color-warning-light-8: rgb(250, 236, 216);
  --lark-color-warning-light-9: rgb(253, 246, 236);
  --lark-color-warning-dark-2: rgb(184, 130, 48);
  --lark-color-danger: #f56c6c;
  --lark-color-danger-light-3: rgb(248, 152, 152);
  --lark-color-danger-light-5: rgb(250, 182, 182);
  --lark-color-danger-light-7: rgb(252, 211, 211);
  --lark-color-danger-light-8: rgb(253, 226, 226);
  --lark-color-danger-light-9: rgb(254, 240, 240);
  --lark-color-danger-dark-2: rgb(196, 86, 86);
  --lark-color-error: #f56c6c;
  --lark-color-error-light-3: rgb(248, 152, 152);
  --lark-color-error-light-5: rgb(250, 182, 182);
  --lark-color-error-light-7: rgb(252, 211, 211);
  --lark-color-error-light-8: rgb(253, 226, 226);
  --lark-color-error-light-9: rgb(254, 240, 240);
  --lark-color-error-dark-2: rgb(196, 86, 86);
  --lark-color-info: #909399;
  --lark-color-info-light-3: rgb(177, 179, 184);
  --lark-color-info-light-5: rgb(200, 201, 204);
  --lark-color-info-light-7: rgb(222, 223, 224);
  --lark-color-info-light-8: rgb(233, 233, 235);
  --lark-color-info-light-9: rgb(244, 244, 245);
  --lark-color-info-dark-2: rgb(115, 118, 122);
  --lark-bg-color: #ffffff;
  --lark-bg-color-page: #f2f3f5;
  --lark-bg-color-overlay: #ffffff;
  --lark-text-color-primary: #303133;
  --lark-text-color-regular: #606266;
  --lark-text-color-secondary: #909399;
  --lark-text-color-placeholder: #a8abb2;
  --lark-text-color-disabled: #c0c4cc;
  --lark-border-color: #dcdfe6;
  --lark-border-color-light: #e4e7ed;
  --lark-border-color-lighter: #ebeef5;
  --lark-border-color-extra-light: #f2f6fc;
  --lark-border-color-dark: #d4d7de;
  --lark-border-color-darker: #cdd0d6;
  --lark-fill-color: #f0f2f5;
  --lark-fill-color-light: #f5f7fa;
  --lark-fill-color-lighter: #fafafa;
  --lark-fill-color-extra-light: #fafcff;
  --lark-fill-color-dark: #ebedf0;
  --lark-fill-color-darker: #e6e8eb;
  --lark-fill-color-blank: #ffffff;
  /* --lark-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.04), 0px 8px 20px rgba(0, 0, 0, 0.08); */
  --lark-box-shadow:
    0 0.75rem 2rem 0.25rem rgba(0, 0, 0, 0.04), 0 0.5rem 1.25rem rgba(0, 0, 0, 0.08);
  /* --lark-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.12); */
  --lark-box-shadow-light: 0 0 0.75rem rgba(0, 0, 0, 0.12);
  /* --lark-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.12); */
  --lark-box-shadow-lighter: 0 0 0.375rem rgba(0, 0, 0, 0.12);
  /* --lark-box-shadow-dark:
    0px 16px 48px 16px rgba(0, 0, 0, 0.08), 0px 12px 32px rgba(0, 0, 0, 0.12),
    0px 8px 16px -8px rgba(0, 0, 0, 0.16); */
  --lark-box-shadow-dark:
    0 1rem 3rem 1rem rgba(0, 0, 0, 0.08), 0 0.75rem 2rem rgba(0, 0, 0, 0.12),
    0 0.5rem 1rem -0.5rem rgba(0, 0, 0, 0.16);
  --lark-disabled-bg-color: var(--lark-fill-color-light);
  --lark-disabled-text-color: var(--lark-text-color-placeholder);
  --lark-disabled-border-color: var(--lark-border-color-light);
  --lark-overlay-color: rgba(0, 0, 0, 0.8);
  --lark-overlay-color-light: rgba(0, 0, 0, 0.7);
  --lark-overlay-color-lighter: rgba(0, 0, 0, 0.5);
  --lark-mask-color: rgba(255, 255, 255, 0.9);
  --lark-mask-color-extra-light: rgba(255, 255, 255, 0.3);
  --lark-border-width: 0.0625rem; /* 1px */
  --lark-border-style: solid;
  --lark-border-color-hover: var(--lark-text-color-disabled);
  --lark-border: var(--lark-border-width) var(--lark-border-style) var(--lark-border-color);
  --lark-svg-monochrome-grey: var(--lark-border-color);
}

@theme {
  --color-lark-white: #ffffff;
  --color-lark-black: #000000;
  --font-sans:
    'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial;
  --font-serif:
    'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial;
  --font-mono:
    Menlo, 'Cascadia Code', 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', Arial;
  --color-lark-primary: #409eff;
  --color-lark-primary-light-3: rgb(121, 187, 255);
  --color-lark-primary-light-5: rgb(160, 207, 255);
  --color-lark-primary-light-7: rgb(198, 226, 255);
  --color-lark-primary-light-8: rgb(217, 236, 255);
  --color-lark-primary-light-9: rgb(236, 245, 255);
  --color-lark-primary-dark-2: rgb(51, 126, 204);
  --color-lark-success: #67c23a;
  --color-lark-success-light-3: rgb(149, 212, 117);
  --color-lark-success-light-5: rgb(179, 225, 157);
  --color-lark-success-light-7: rgb(209, 237, 196);
  --color-lark-success-light-8: rgb(225, 243, 216);
  --color-lark-success-light-9: rgb(240, 249, 235);
  --color-lark-success-dark-2: rgb(82, 155, 46);
  --color-lark-warning: #e6a23c;
  --color-lark-warning-light-3: rgb(238, 190, 119);
  --color-lark-warning-light-5: rgb(243, 209, 158);
  --color-lark-warning-light-7: rgb(248, 227, 156);
  --color-lark-warning-light-8: rgb(250, 236, 186);
  --color-lark-warning-light-9: rgb(252, 245, 232);
  --color-lark-warning-dark-2: rgb(182, 126, 46);
  --color-lark-danger: #f56c6c;
  --color-lark-danger-light-3: rgb(248, 152, 152);
  --color-lark-danger-light-5: rgb(250, 182, 182);
  --color-lark-danger-light-7: rgb(252, 211, 211);
  --color-lark-danger-light-8: rgb(253, 226, 226);
  --color-lark-danger-light-9: rgb(254, 240, 240);
  --color-lark-danger-dark-2: rgb(196, 86, 86);
  --color-lark-error: #f56c6c;
  --color-lark-error-light-3: rgb(248, 152, 152);
  --color-lark-error-light-5: rgb(250, 182, 182);
  --color-lark-error-light-7: rgb(252, 211, 211);
  --color-lark-error-light-8: rgb(253, 226, 226);
  --color-lark-error-light-9: rgb(254, 240, 240);
  --color-lark-error-dark-2: rgb(196, 86, 86);
  --color-lark-info: #909399;
  --color-lark-info-light-3: rgb(177, 179, 184);
  --color-lark-info-light-5: rgb(200, 201, 204);
  --color-lark-info-light-7: rgb(222, 223, 224);
  --color-lark-info-light-8: rgb(233, 233, 235);
  --color-lark-info-light-9: rgb(244, 244, 245);
  --color-lark-info-dark-2: rgb(115, 118, 122);
  --color-lark-bg: #ffffff;
  --color-lark-bg-page: #f2f3f5;
  --color-lark-bg-overlay: #ffffff;
  --color-lark-text-primary: #303133;
  --color-lark-text-regular: #606266;
  --color-lark-text-secondary: #909399;
  --color-lark-text-placeholder: #a8abb2;
  --color-lark-text-disabled: #c0c4cc;
  --color-lark-border: #dcdfe6;
  --color-lark-border-light: #e4e7ed;
  --color-lark-border-lighter: #ebeef5;
  --color-lark-border-extra-light: #f2f6fc;
  --color-lark-border-dark: #d4d7de;
  --color-lark-border-darker: #cdd0d6;
  --color-lark-fill: #f0f2f5;
  --color-lark-fill-light: #f5f7fa;
  --color-lark-fill-lighter: #fafafa;
  --color-lark-fill-extra-light: #fafcff;
  --color-lark-fill-dark: #ebedf0;
  --color-lark-fill-darker: #e6e8eb;
  --color-lark-fill-blank: #ffffff;
  --color-lark-disabled-bg: #f5f7fa;
  --color-lark-disabled-text: #a8abb2;
  --color-lark-disabled-border: #e4e7ed;
  --color-lark-overlay: rgba(0, 0, 0, 0.8);
  --color-lark-overlay-light: rgba(0, 0, 0, 0.7);
  --color-lark-overlay-lighter: rgba(0, 0, 0, 0.5);
  --color-lark-mask: rgba(255, 255, 255, 0.9);
  --color-lark-mask-extra-light: rgba(255, 255, 255, 0.3);
  --color-lark-border-hover: #c0c4cc;
  --color-lark-svg-monochrome-grey: #dcdfe6;
}
